.footer:global {
  bottom: 0;
  width: 100%;
  height: 5rem;
  position: fixed;
  background: #010949;
  color: #fff;
  padding: 2rem;
  animation-name: moveFromBottom;
  animation-duration: 2s;
}

.container {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  gap: 2rem;
}

.icons {
  color: #fff;
}

.icons:hover {
  color: #630000;
}
