header:global {
  position: fixed;
  width: 100%;
  background-color: #bb0000;
  padding: 3rem 5rem;
  top: 0;
  animation-name: moveFromTop;
  animation-duration: 2s;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  font-size: 2rem;
  text-decoration: none;
}

nav ul a {
  color: #ffffff;
  font-weight: 800;
  font-size: 2.5rem;
}

nav ul a:hover {
  border-bottom: 2px solid #ffffff;
}

h1 {
  font-size: 4rem;
}

.hamMenu {
  display: none;
}

nav ul:global.active {
  left: 0;
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }
  header {
    padding: 2.2rem 5rem;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }

  .hamMenu {
    display: block;
    color: #fff;
  }

  .hamMenu {
    font-size: 5.5rem;
  }

  nav ul {
    background-color: #810202;
    position: fixed;
    left: -100vw;
    top: 11.2rem;
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    padding: 20rem;
  }
}

@media only screen and (max-width: 575px) {
  /* html {
    font-size: 46.87%;
  } */

  header {
    padding: 2rem 3rem;
  }

  nav ul {
    top: 75px;
    height: calc(100vh - 125px);
  }

  nav img {
    height: 5rem;
  }
}
