@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: -o-linear-gradient(281deg, #f64445 0%, #1106ac 100%);
  background: linear-gradient(169deg, #f64445 0%, #1105b3 100%);
}
